.swiper-tabs {
	overflow: hidden;
}

.tabs {
	display: flex;
	border-bottom: 1px solid white;
	height: 9rem;

	.tab {
		display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    span {
			display: flex;
			width: max-content;
			height: 100%;
			align-items: center;    	
    }	

		&.tab--active {
			font-weight: bold;

			span {
				border-bottom: 2px solid black;
			}
		}

		&:hover {
			cursor: pointer;
		}

	}
}

.tabs-content {

	.tab-content {
		padding: 8rem;

		@media screen and (max-width: 749px) {
			padding: 2rem;
		}

		.size-guide {
			display: flex;
			justify-content: space-around;
			align-items: center;

			.size-guide-image {

				img {
					max-width: 300px;

					@media screen and (max-width: 749px) {
						margin-top: 4rem;
					}			
					@media screen and (min-width: 900px) {
						max-width: 350px
					}
					@media screen and (min-width: 990px) {
						max-width: 500px
					}															
				}

			}

			.dimension {
				display: flex;
				gap: 2.5rem;

				span.value {
					align-self: center;
				}
			}
		}

		&.tab-content--active {
			display: block;
		}

		&.tab-content--hidden {
			display: none;
		}

	}

}

@media screen and (max-width: 749px) {
  .size-guide {
    flex-direction: column;
  }
}