@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);  

html *,
body * {
  font-family: Gilroy !important;
}

header.page-width {
  max-width: 1600px;
}

.product {
  h1 {
    font-size: 3rem;
  }

  .price-item--sale {
    font-size: 3.6rem;
    font-weight: bold;
  }

  .price-item--price {
    vertical-align: top;

    .price-item--regular {
      color: #C9C9C9;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 50%;
  }
  .product--large:not(.product--no-media) .product__info-wrapper {
    max-width: unset;
    width: unset;
    padding: 0 0 0 8rem;
  }
}

.product__media-wrapper {
  position: relative;

  .countdown-timer {
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    background: #eeeeeedd;
    line-height: 37px;
  }
}

.product {

  .product__media-icon {
    top: unset;
    left: unset;
    right: 2.2rem;
    bottom: 2.2rem;
    opacity: 0.5 !important;
    height: 5rem;
    width: 5rem;
  }

  .product__modal-opener:hover {
    .product__media-icon {
      opacity: 0.8 !important;
    }
  }

  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: calc(25% - 0.8rem);

    .thumbnail {
      border-radius: 10px;
    }
  }

  .product-form__input input[type='radio'] + label {
    border: none;
    padding: 0;

    img {
      border-radius: 5px;
      height: 7rem;
      width: 7rem;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .product-form__input input[type='radio']:checked + label {
    color: unset;
    background-color: unset;

    img {
      box-shadow: 1px 6px 6px 0px rgba(153,153,153,1);
    }
  }

  .select {
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    border:1px solid #cccccc;
    &:after, &:before {
      box-shadow: unset;
    }
    &:hover {
      &:after, &:before {
        box-shadow: unset;
      }      
    }
    select{
      border:0px;
      outline:none;
      &:focus {
        box-shadow: unset;
      }
    }    
  }

  #SizeGuideBtn {
    color: black;
    font-size: 1.4rem;

    &:hover {
      opacity: 0.8;
    }
  }  

  .product-form__submit {
    border-radius: 10px;
    font-weight: bold;

    &:before, &:after {
      box-shadow: unset;
    }
  }

}

@media screen and (max-width: 749px) {
  .product-form__buttons {
    max-width: 100%;
  }
}